:root{
    --title-font: arial;
}

* {
    z-index:1;
}

#title{
    font-family: var(--title-font);

    margin-left:auto;
    margin-right:auto;
}


@keyframes glideUpwards {
    0% {
      transform: translateY(0);
      opacity: 1;
      display: block;
    }
    100% {
      transform: translateY(-500px);
      opacity: 0;
      display: block;
    }
  }

.glideAway {
    opacity: 0;
    animation: glideUpwards 1s;
    display: none;
}
  

@media only screen and (min-width:600px) {
    /*desktop*/
    body {
        font-family: var(--title-font);
    }
    #letters {
        margin: auto;
        margin-top:3%;
        margin-bottom:3%;
        padding:20px;

        border:none;
        background-color: #9bbcff;
        border-radius: 20px;
        
        color: white;

        user-select: none;

        text-align: center;
        font-weight: bold;
        font-size:20px;
    }

    div#letters{
        width: 550px;
    }

    span{
        width:15px;
    }

    #listings{
        padding: 10px;
        width: 610px;

        margin-left:auto;
        margin-right:auto;

        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .widget{
        background-color:gray;
        margin-left: none;
        padding: 25px;
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;

    }

    .widget.double{
        width: 290px;
        text-align: center;
    }

    .widget.single{
        width: 170px;
    }

    #widget-animation {
        width:260px;
        margin: 15px 15px;
        border-radius: 12px;
    }

    #widget-title{
        color:white;
        font-weight: bold;
        font-size: 28px;
        text-align: center;
        margin: 15px auto;
    }

    #widget-desc{
        color:white;
        font-size: 16.6px;
    }

    #start{
        display: block;
        position:absolute;
        background-color: #a59bff;
        z-index: 9999;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding: none;
        color: white;

    }

    #start-title {
        font-size: 28px;
    }


}

@media only screen and (max-width:600px) {
    /*mobile*/

}
